* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}
.overall {
    background-color: rgba(58, 52, 64, 1);
    width: fit-content;
    height: fit-content;
    border-left: 1px solid rgba(58, 52, 64, 1) !important;
    border-right: 1px solid rgba(58, 52, 64, 1) !important;
    border-bottom: 1px solid rgba(58, 52, 64, 1) !important;
}
header {
    background-color: rgba(21, 23, 30, 1);
    border-bottom: 1px solid;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
header img {
    height: 20px;
}
.navbar {
   margin-right: 200px !important;
}

.search {
    display: flex !important;
    align-items: center;
    gap: 10px !important;
    width: 160px !important;
    padding: 2px 10px !important;
    background-color: #14121a !important;
    border-radius: 5px !important;
    color: #98989f !important;
    margin-left: 400px !important;
}
.search-icon {
    width: 20px !important;
    height: 20px !important;
    background-image: url('media/search_34dp_E3E3E3_FILL0_wght400_GRAD0_opsz40.svg') !important;
    background-size: cover !important;
    filter: brightness(0) saturate(100%) invert(62%) sepia(15%) hue-rotate(198deg) brightness(102%) contrast(102%) !important;
}
.search-text {
    font-size: 16px !important;
}
.shortcut {
    display: flex !important;
    justify-content: center !important;
    font-size: 12px !important;
    padding: 1px 10px !important;
    margin-left: auto !important;
    border: 1px solid rgba(58, 52, 64, 1) !important;
    border-radius: 5px !important;
    color: #98989f
    
}
.search-text-container {
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
}

.off-canvas {
    background-color: rgba(21, 23, 30, 1) !important;
    border-top-right-radius: 5px ;
    border-top-left-radius: 5px ;

}



.dropdown-menu {
    background-color: rgba(21, 23, 30, 1) !important;
    border: 1px solid rgba(58, 52, 64, 1) !important; 
}
.dropdown-item:hover {
    color: rgba(47, 6, 118, 1) !important;
    background-color: grey !important;
    cursor: pointer;
}

body {
    background-color: rgba(21, 23, 30, 1) !important;
    margin-top: 30px !important;
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
}
.serchicon {
    height: 30px !important;
}
.menuicon {
    height: 40px;
}
main img {
    height: 10px !important;
}
.contect-1 {
border-right: 2px solid !important;
    /* height: 700px !important; */
} 


.starting {
    background-color: rgba(21, 23, 30, 1) !important;
    margin: 0 auto !important;
    padding: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  
}
.starting-text :nth-child(1) {
    font-size: 35px;
    color: #ffffff !important;
    /* text-align: center; */
}

.starting-text :nth-child(2) {
    font-size: 18px;
    color: #87878b !important;
    /* text-align: center !important; */

}

.btn>button {
    padding: 5px 25px !important;
    border-radius: 10px  !important;
    background-color: transparent !important;
    color: white !important;
}
.btn1 {
    border: 4px solid transparent;
    background: linear-gradient(#15171e, #15171e) padding-box, linear-gradient(#5e28a5, #512289, #a76eea, #53237f, #5e28a5, #512289, #a76eea, #53237f, #5e28a5, #512289, #a76eea, #53237f, #5e28a5, #512289, #a76eea, #53237f)   
}

.btn1 {
    background-size: 200% 200% !important;
    transition: all 0.2s ease;
    animation: rotation 50s linear infinite !important; 
}

.btn1:hover {
    transform: scale(1.1);
}

.first-inner {
    background-color: rgba(20, 18, 26, 1) !important;
    width: 500px !important;
    height: 80px;
    margin-bottom: 20px !important;
    margin-left: 20px !important;
}
.nav {
    border-bottom: 2px solid rgba(0, 0, 0, 1) !important;
}
.nav-item {
    margin-left: 20px !important;
    color: rgba(123, 123, 131, 1) !important;  

}



.seond-back {
    background-color: rgba(21, 23, 30, 1) !important;
    padding: 20px 20px !important;
    margin-top: 1px !important;
    border-radius: 5px;
    
}
.seond-back>p {
    color: white;
    font-size: 18px;
    text-align: center;
}
.animation {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: rgba(21, 23, 30, 1) !important;
    /* border: 1 solid #333; */
    border-radius: 5px;
    overflow: hidden;
    margin-top: 1px !important; 
}
.log-1 {
    height: 80px !important;
}
.anim {
    padding: 30px 40px !important;
    text-align: center;
    font-size: 20px;
}
.anim + .anim {
    border-left: 2px solid rgba(33, 37, 41, 1);
}
.anim{
    animation: moving 10s linear infinite;
}
.third-back {
    background-color: rgba(21, 23, 30, 1) !important;
    padding: 20px 20px !important;
    margin-top: 1px !important;
    border-radius: 5px;
    text-align: center;
}
.third-back>p {
    color: #696371 !important;
    font-size: 18px;
}

.four-back {
    background-color: rgba(21, 23, 30, 1) !important;
    padding: 20px 20px !important;
    margin-top: 1px !important;
    border-radius: 5px;
}
.four-back>p {
    color: #696371 !important;
    font-size: 18px;
}
.five-back img {
    width: 320px !important;
    position: relative !important;
}

.five-bac {
    position: absolute !important;
    margin-left: 320px !important;
    margin-top: -150px !important;
    transform: translate(-50%, -50%) !important;
    width: 300px !important;
    height: 200px !important;
}

.six-back>p {
    color: #696371 !important;
}
.six img {
    width: 300px !important;
}

.six-bac{
    padding: 20px 20px !important;
    margin-top: 1px !important;
}
.six-bac img {
    width: 300px;
}












@keyframes moving {
    0% {
        transform: translateX(0px);
    }
    
    100% {
        transform: translateX(-700px);
    }
}











@keyframes rotation {
    0% {
        background-position: 0% 0%;
    }
    
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.btn2 {
    border: 2px solid #322c38 !important;
    cursor: pointer;
}
.btn2:hover {
    background-color: white !important;
    color: black !important;
    transition: all 0.2s ease;
    transform: scale(1.1);
}
.animation-logo {
    height: 300px !important;
}

.offcanvas-body,.offcanvas-header {
    background-color: #16171d;
}







@media (max-width:767px) {
    .contect-1 {
        border: 0 !important;
    }
}

@media (min-width:767px) {
    .starting-text :nth-child(1) {
    font-size: 4em;
    
}
}

